<!DOCTYPE html> 
<html> 
  <head> 
    <title>Ruby on Rails PakNotes App | Help</title> 
  </head> 
  <body> 
    <h1>Help</h1> 
    <p> 
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
      To get help on the PakNotes app, please check back later.
    </p> 
  </body> 
</html>