<!DOCTYPE html> 
<html> 
  <head> 
    <title>Ruby on Rails PakNotes App | Home</title> 
  </head> 
  <body> 
    <h1>PakNotes App</h1> 
    <p> 
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> 
      PakNotes App sample application.
    </p> 
  </body> 
</html>